:root {
    --color-primary: #{$color-primary};
    --color-light-red: #{$color-light-red};
    --color-soft-blue: #{$color-soft-blue};
    --color-red: #{$color-red};
    --color-lime-green: #{$color-lime-green};
    --color-violet: #{$color-violet};
    --color-soft-orange: #{$color-soft-orange};
    --color-background: #{$color-background};
    --color-surface: #{$color-surface};
    --color-on-primary: #{$color-on-primary};
    --color-on-surface: #{$color-on-surface};
}
