/* Colors */

$color-primary: #674baf;
$color-primary-light: #e882e8;
$color-white: #fff;

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$heading-font-stack: 'Poppins', sans-serif;
$body-font-stack: 'Open Sans', sans-serif;
