@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Variables */

// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Typography
$font-stack: 'Poppins', sans-serif;

$font-size-sm: .8rem;
$font-size-regular: .9375rem;

$line-height-sm: 1.8;
$line-height-regular: 1.5;
$line-height-lg: 1.2;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Features
$features-padding-y: 5.25rem;
$features-padding-x: 2rem;

// Features title
$features-title-font-size: 1.5rem;
$features-title-font-size-lg: 2.2rem;
$features-title-line-height: $line-height-regular;
$features-title-font-weight: $font-weight-bold;
$features-title-color: $very-dark-blue;
$features-title-margin-bottom: 1rem;

$features-title-highlighted-font-weight: $font-weight-light;

// Features text
$features-text-font-size: $font-size-regular;
$features-text-line-height: $line-height-regular;
$features-text-font-weight: $font-weight-regular;
$features-text-color: $grayish-blue;
$features-text-max-width: 32rem;
$features-text-margin-bottom: 4.75rem;
$features-text-margin-bottom-lg: 4.33rem;

// Features grid
$features-grid-gap: 1.5rem;
$features-grid-gap-lg: 1.875rem;

// Features card
$features-card-bg: $white;
$features-card-padding-y: 1.75rem;
$features-card-padding-x: 1.75rem;
$features-card-padding-y-lg: 2.3125rem;
$features-card-padding-x-lg: 2rem;

$features-card-border-radius: .5rem;

$features-card-shadow: 0 0.875rem 1.2rem rgba(0, 0, 0, 0.1), 
    0 0.2rem 1rem -0.2rem rgba(0, 0, 0, 0.05);

$features-card-min-width: 19rem;
$features-card-max-width: 26rem;
$features-card-max-width-lg: 21.875rem;
$features-card-height: 13.875rem;

// Features card title
$features-card-title-font-size: 1.2rem;
$features-card-title-line-height: $line-height-lg;
$features-card-title-font-weight: $font-weight-bold;
$features-card-title-color: $very-dark-blue;
$features-card-title-margin-bottom: .5rem;

// Features card text
$features-card-text-font-size: $font-size-sm;
$features-card-text-line-height: $line-height-sm;
$features-card-text-font-weight: $font-weight-regular;
$features-card-text-color: $grayish-blue;
$features-card-text-margin-bottom: 1.75rem;

$features-card-supervisor-border-color: $cyan;
$features-card-team-builder-border-color: $red;
$features-card-karma-border-color: $orange;
$features-card-calculator-border-color: $blue;

// Features card logo
$features-card-logo-width: 3.625rem;
$features-card-logo-height: 3.625rem;
$features-card-logo-width-lg: 4.25rem;
$features-card-logo-height-lg: 4.25rem;

// Breakpoints
$breakpoint-md: $features-card-min-width * 2 + $features-grid-gap + $features-padding-x * 2;
$breakpoint-lg: $features-card-min-width * 3 + $features-grid-gap-lg * 2 + $features-padding-x * 2;

// Container
$container-max-width: $features-card-max-width + $features-padding-x * 2;
$container-max-width-md: $features-card-max-width * 2 + $features-grid-gap + $features-padding-x * 2;
$container-max-width-lg: $features-card-max-width-lg * 3 + $features-grid-gap-lg * 2 + $features-padding-x * 2;

/* Base style */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-stack;
    background: $very-light-gray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
p {
    margin: 0;
}


/* container */

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;

    @media (min-width: $breakpoint-md) {
        max-width: $container-max-width-md;
    }

    @media (min-width: $breakpoint-lg) {
        max-width: $container-max-width-lg;
    }
}

.features {
    padding: $features-padding-y $features-padding-x;

    &__title {
        font-size: $features-title-font-size;
        line-height: $features-title-line-height;
        font-weight: $features-title-font-weight;
        text-align: center;
        color: $very-dark-blue;
        margin-bottom: $features-title-margin-bottom;

        @media (min-width: $breakpoint-lg) {
            font-size: $features-title-font-size-lg;
        }

        &--highlighted {
            font-weight: $font-weight-light;
        }
    }

    &__text {
        font-size: $features-text-font-size;
        line-height: $features-text-line-height;
        font-weight: $features-text-font-weight;
        text-align: center;
        color: $features-text-color;
        max-width: $features-text-max-width;
        margin: 0 auto;
        margin-bottom: $features-text-margin-bottom;

        @media (min-width: $breakpoint-lg) {
            margin-bottom: $features-text-margin-bottom-lg;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: $features-grid-gap;

        @media (min-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $breakpoint-lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, auto);
            gap: $features-grid-gap-lg;
        }
    }

    &__card {
        background: $features-card-bg;
        padding: $features-card-padding-y $features-card-padding-x;
        border-radius: $features-card-border-radius;
        box-shadow: $features-card-shadow;
        overflow: hidden;
        position: relative;

        @media (min-width: $breakpoint-lg) {
            padding: $features-card-padding-y-lg $features-card-padding-x-lg;
        }

        &::before {
            content: '';
            width: 100%;
            height: .25rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        &--supervisor {

            @media (min-width: $breakpoint-lg) {
                grid-column: 1 / 2;
                grid-row: 2 / 4;
            }

            &::before {
                background: $features-card-supervisor-border-color;
            }
        }

        &--team-builder {
            @media (min-width: $breakpoint-lg) {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }

            &::before {
                background: $features-card-team-builder-border-color;
            }
        }

        &--karma {
            @media (min-width: $breakpoint-lg) {
                grid-column: 2 / 3;
                grid-row: 3 / 5;
            }

            &::before {
                background: $features-card-karma-border-color;
            }
        }

        &--calculator {
            @media (min-width: $breakpoint-lg) {
                grid-column: 3 / 4;
                grid-row: 2 / 4;
            }

            &::before {
                background: $features-card-calculator-border-color;
            }
        }
    }

    &__card-title {
        font-size: $features-card-title-font-size;
        line-height: $features-card-title-line-height;
        font-weight: $features-card-title-font-weight;
        color: $features-card-title-color;
        margin-bottom: $features-card-title-margin-bottom;
    }

    &__card-text {
        font-size: $features-card-text-font-size;
        line-height: $features-card-text-line-height;
        font-weight: $features-card-text-font-weight;
        color: $features-card-text-color;
        margin-bottom: $features-card-text-margin-bottom;
    }

    &__card-logo {
        width: $features-card-logo-width;
        height: $features-card-logo-height;
        margin-left: auto;

        @media (min-width: $breakpoint-lg) {
            width: $features-card-logo-width-lg;
            height: $features-card-logo-height-lg;
        }

        &--supervisor {
            background: url('images/icon-supervisor.svg') center / contain no-repeat;
        }

        &--team-builder {
            background: url('images/icon-team-builder.svg') center / contain no-repeat;
        }

        &--karma {
            background: url('images/icon-karma.svg') center / contain no-repeat;
        }

        &--calculator {
            background: url('images/icon-calculator.svg') center / contain no-repeat;
        }
    }
}
