body {
    background-color: var(--color-background);
    font-family: var(--font-stack);
    font-weight: var(--font-weight-regular);
    display: flex;
    justify-content: center;
    align-items: center;
}