@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Variables */
/* Base style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
  color: #4a4b5e;
  min-height: 100vh;
  background: #af67e9;
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 50%);
}

h1,
h2,
p,
button {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

/* Container */
.container {
  width: 100%;
  max-width: 60.5rem;
  padding: 9.25rem 1.5rem;
  margin: 0 auto;
}

/* FAQ */
.faq {
  background: #fff;
  padding: 6.625rem 0 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 3rem 3rem 0 rgba(0, 0, 0, 0.41);
  position: relative;
}
@media (min-width: 64em) {
  .faq {
    padding: 2.25rem 4.75rem 2rem 4.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.faq__illustration {
  width: 16.625rem;
  height: 13.25rem;
  background: url("images/illustration-woman-online-mobile.svg") top center/100% no-repeat, url("images/bg-pattern-mobile.svg") bottom right/89% no-repeat;
  position: absolute;
  left: calc(50% - 8.3125rem - 1rem);
  top: -6.625rem;
}
@media (min-width: 64em) {
  .faq__illustration {
    width: 27.125rem;
    height: 100%;
    background: url("images/illustration-woman-online-desktop.svg") left -80px top 50px/100% no-repeat, url("images/bg-pattern-desktop.svg") left -510px top -260px/200% no-repeat;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.faq__illustration-box {
  display: none;
}
@media (min-width: 64em) {
  .faq__illustration-box {
    display: block;
    width: 191px;
    height: 184px;
    position: absolute;
    background: url("images/illustration-box-desktop.svg") top 0 left 0 no-repeat;
    left: -100px;
    top: 170px;
  }
}
.faq__body {
  width: 100%;
  max-width: 25rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}
@media (min-width: 64em) {
  .faq__body {
    margin: 0;
    margin-left: auto;
  }
}
.faq__title {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  color: #1d1e35;
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .faq__title {
    text-align: left;
    margin-bottom: 2rem;
  }
}
.faq__item {
  border-bottom: 1px solid #e7e7e9;
}
.faq__question {
  font-size: 0.875rem;
}
.faq__question-btn {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__question-btn:active {
  color: #f47c57;
}
.faq__question-btn::after {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  background: url("images/icon-arrow-down.svg") center/66% no-repeat;
  transform: rotate(0);
  transition: transform 300ms ease 50ms;
}
.faq__question-btn--expanded {
  font-weight: 700;
  color: #1d1e35;
}
.faq__question-btn--expanded::after {
  transform: rotate(180deg);
}
.faq__answer {
  max-width: calc(100% - 1rem);
  padding-bottom: 1rem;
  display: none;
}
.faq__answer--expanded {
  display: block;
}

/*# sourceMappingURL=style.css.map */
