/* ---------- main grid --------- */
.main-content {
    display: grid;
    column-gap: var(--main-grid-column-gap);
    row-gap: var(--main-grid-row-gap);
    padding-block-end: var(--main-grid-padding-block-end);
}

@media (min-width: 48rem) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 70rem) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .articles-feed {
        grid-column: 1 / 4;
    }
}