/* ---------- main content --------- */
.main-content {
    display: grid;
    gap: 4rem;
    padding-block-end: 4rem;
}

@media (min-width: 48rem) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

@media (min-width: 70rem) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .articles-feed {
        grid-column: 1 / 4;
    }
}