/* ---------- menu button ---------- */

.menuBtn {
    color: var(--navigation-btn-color);
    fill: currentColor;
    width: var(--navigation-btn-width);
    height: var(--navigation-btn-height);
    position: relative;
    z-index: 3;
    display: none;
}

.menuBtn.menuBtn--fixed {
    position: fixed;
    top: var(--navigation-btn-fixed-top);
    right: var(--navigation-btn-fixed-right);
}

.menuBtn .close-icon {
    width: var(--navigation-btn-close-icon-width);
    display: none;
}

.menuBtn[aria-expanded="true"] .close-icon {
    display: initial;
}

.menuBtn[aria-expanded="true"] .open-icon {
    display: none;
}

.menuBtn:hover,
.menuBtn:active,
.menuBtn:focus {
    color: var(--navigation-btn-hover-color);
}

@media (max-width: calc(48rem - 1px)) {
    .menuBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ---------- navigation ---------- */

.navigation__panel {
    display: flex;
}

.navigation__panel>*+* {
    margin-inline-start: var(--navigation-item-spacing);
}

.navigation__link {
    display: block;
    padding-block: var(--navigation-item-block-padding);
    padding-inline: var(--navigation-item-inline-padding);
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
    color: var(--navigation-item-hover-color);
}

@media (max-width: calc(48rem - 1px)) {
    .navigation {
        color: var(--navigation-color);
        background: var(--navigation-background);
        padding-block-start: var(--navigation-padding-block-start);
        position: fixed;
        top: 0;
        right: 0;
        width: var(--navigation-width);
        height: 100vh;
        z-index: 2;
        display: flex;
        transform: translateX(100%);
        transition: transform var(--navigation-transition-time), visibility var(--navigation-transition-time);
        visibility: hidden;
    }

    .navigation.navigation--expanded {
        transform: translateX(0);
        visibility: visible;
    }

    .navigation__panel {
        width: 100%;
        padding: var(--spacer-6);
        flex-direction: column;
    }

    .navigation__panel>*+* {
        margin-inline-start: 0;
        margin-block-start: var(--navigation-item-vertical-spacing);
    }
}

/* ---------- overlay ---------- */
.overlay {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--overlay-background);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity var(--overlay-transition-time), visibility var(--overlay-transition-time);
}

.overlay.overlay--expanded {
    opacity: var(--overlay-opacity);
    visibility: visible;
}
