@font-face {
    font-family: "Inter";
    src: local("Inter"), url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* ---------- variables ---------- */

:root {
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);
    --color-off-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);

    --font-stack: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size-base: 1rem;
    --line-height-base: 1.5;

    --spacer-base: .25rem;
    --spacer-1: calc(var(--spacer-base) * 1);
    --spacer-2: calc(var(--spacer-base) * 2);
    --spacer-3: calc(var(--spacer-base) * 3);
    --spacer-4: calc(var(--spacer-base) * 4);
    --spacer-5: calc(var(--spacer-base) * 5);
    --spacer-6: calc(var(--spacer-base) * 6);
    --spacer-7: calc(var(--spacer-base) * 7);
    --spacer-8: calc(var(--spacer-base) * 8);
    --spacer-16: calc(var(--spacer-base) * 16);

    --transition-time: var(--transition-time);

    /* wrapper */
    --wrapper-inline-padding: var(--spacer-4);
    --wrapper-max-inline-size: calc(30rem + var(--wrapper-inline-padding) * 2);

    /* header */
    --header-block-start-padding: var(--spacer-7);
    --header-block-end-padding: var(--spacer-7);

    /* skip to main */
    --skip-to-main-background: var(--color-very-dark-blue);
    --skip-to-main-color: var(--color-off-white);
    --skip-to-main-padding: var(--spacer-2);
    --skip-to-main-transition-time: var(--transition-time);

    /* logo */
    --logo-width: 3rem;

    /* navigation */
    --navigation-color: var(--color-very-dark-blue);
    --navigation-background: var(--color-off-white);
    --navigation-padding-block-start: 7rem;
    --navigation-width: 68%;
    --navigation-transition-time: var(--transition-time);
    --navigation-panel-padding: var(--spacer-6);

    /* navigation button */
    --navigation-btn-color: var(--color-very-dark-blue);
    --navigation-btn-hover-color: var(--color-soft-red);
    --navigation-btn-width: 2.5rem;
    --navigation-btn-height: 1.75rem;
    --navigation-btn-fixed-top: var(--header-block-start-padding);
    --navigation-btn-fixed-right: var(--wrapper-inline-padding);
    --navigation-btn-close-icon-width: 2rem;

    /* navigation item */
    --navigation-item-hover-color: var(--color-soft-red);
    --navigation-item-block-padding: var(--spacer-2);
    --navigation-item-inline-padding: var(--spacer-1);
    --navigation-item-spacing: var(--spacer-8);
    --navigation-item-vertical-spacing: var(--spacer-2);

    /* overlay */
    --overlay-background: var(--color-very-dark-blue);
    --overlay-transition-time: var(--transition-time);
    --overlay-opacity: .5;

    /* card */
    --card-title-font-size: 1.125rem;
    --card-title-font-weight: 800;
    --card-title-line-height: 1.33;
    --card-title-color: var(--color-very-dark-blue);

    --card-featured-font-size: 2.5rem;
    --card-featured-line-height: 1;

    --card-simple-font-size: 1.25rem;
    --card-simple-line-height: 1.2;

    --card-btn-font-size: 0.875rem;
    --card-btn-font-weight: 700;
    --card-btn-letter-spacing: .3em;
    --card-btn-text-transform: uppercase;
    --card-btn-line-height: 1;
    --card-btn-color: var(--color-off-white);
    --card-btn-block-padding: 1rem;
    --card-btn-inline-padding: 2rem;
    --card-btn-background: var(--color-soft-red);
    --card-btn-hover-background: var(--color-very-dark-blue);
    --card-btn-color: var(--color-off-white);

    /* news feed */
    --news-feed-padding: 1rem;
    --news-feed-background: var(--color-very-dark-blue);

    /* main grid */
    --main-grid-column-gap: var(--spacer-16);
    --main-grid-row-gap: var(--spacer-16);
    --main-grid-padding-block-end: var(--spacer-16);
}

@media (min-width: 48rem) {
    :root {
        /* wrapper */
        --wrapper-max-inline-size: calc(52rem + var(--wrapper-inline-padding) * 2);

        /* logo */
        --logo-width: 4rem;

        /* main grid */
        --main-grid-column-gap: var(--spacer-4);
    }
}

@media (min-width: 70rem) {
    :root {
        /* wrapper */
        --wrapper-max-inline-size: calc(69.5rem + var(--wrapper-inline-padding) * 2);

        /* header */
        --header-block-start-padding: 5.5rem;
        --header-block-end-padding: 3.5rem;

        /* main grid */
        --main-grid-column-gap: var(--spacer-8);
    }
}