.card {
    background-position-x: right 1rem;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    border-bottom-right-radius: calc(var(--border-radius) * 1.5);
    border-bottom-left-radius: calc(var(--border-radius) * 1.5);

    &--work {
        background-color: var(--color-light-red);
        background-image: url('images/icon-work.svg');
        background-position-y: top -0.6875rem;
    }

    &--play {
        background-color: var(--color-soft-blue);
        background-image: url('images/icon-play.svg');
        background-position-y: top -0.33rem;
    }

    &--study {
        background-color: var(--color-red);
        background-image: url('images/icon-study.svg');
        background-position-y: top -0.5rem;
    }

    &--exercise {
        background-color: var(--color-lime-green);
        background-image: url('images/icon-exercise.svg');
        background-position-y: top -0.125rem;
    }

    &--social {
        background-color: var(--color-violet);
        background-image: url('images/icon-social.svg');
        background-position-y: top -.9rem;
    }

    &--self-care {
        background-color: var(--color-soft-orange);
        background-image: url('images/icon-self-care.svg');
        background-position-y: top -.66rem;
    }

    &__container {
        background-color: var(--color-surface);
        color: var(--color-on-surface);
        padding: 1.75rem 1.5rem;
        margin-top: 2.375rem;
        border-radius: var(--border-radius);
    }

    &__header {
        margin-bottom: 0.375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 1.125rem;
        font-weight: var(--font-weight-medium);
    }

    &__options-btn {
        background: none;
        border: none;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__value {
        font-size: 2rem;
        font-weight: var(--font-weight-light);
    }

    &__last-value {
        font-size: 0.9375rem;
        color: var(--color-on-surface-light);
    }
}
