.hamburger {
    background-color: transparent;
    padding: $hamburger-padding-y $hamburger-padding-x;
    border: none;

    &:hover,
    &:active {
        opacity: $hamburger-hover-opacity;
    }
}
