.nav {
    display: none;

    @media (min-width: $breakpoint-lg) {
        display: flex;
        align-items: center;
    }

    &--expanded {
        background-color: $color-background;
        padding: $nav-expanded-padding-y 0;
        margin: 0 $header-padding-x;
        width: calc(100% - #{$header-padding-x} * 2);
        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;
        right: 0;
        top: calc(100% + 25px);

        .nav__item {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: $nav-expanded-spacer;
            }
        }

        .nav__link {
            font-size: $nav-expanded-font-size;
            color: $nav-expanded-color;

            &--highlighted {
                font-size: 15px;
                color: $nav-link-highlighted-color;
                background-color: #FBD600;
            }
        }

        &::before {
            content: "";
            display: block;
            height: 0;
            width: 0;
            border-bottom: 25px solid $color-background;
            border-left: 25px solid transparent;
            position: absolute;
            top: -25px;
            right: 0;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: $nav-item-spacer;
        }
    }

    &__link {
        font-size: $nav-link-font-size;
        font-weight: $nav-link-font-weight;
        text-decoration: $nav-link-text-decoration;
        color: inherit;
        display: block;

        &--highlighted {
            font-family: $nav-link-highlighted-font-family;
            font-size: $nav-link-highlighted-font-size;
            text-transform: $nav-link-highlighted-text-transformation;
            color: $nav-link-highlighted-color;
            background-color: $nav-link-highlighted-bg-color;
            padding: $nav-link-highlighted-padding-y
                $nav-link-highlighted-padding-x;
            border-radius: $nav-link-highlighted-border-radius;

            &:hover {
                color: $nav-link-highlighted-hover-color;
                background-color: $nav-link-highlighted-hover-bg-color;
            }
        }
    }
}
