/* from https://unpkg.com/tailwindcss@3.4.1/src/css/preflight.css */

/* ---------- reset style ---------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
* 1. Prevent adjustments of font size after orientation changes in iOS.
* 2. Disable tap highlights on iOS.
*/
html {
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -webkit-tap-highlight-color: transparent;
}

/*
* 1. Use a consistent sensible line-height in all browsers.
* 2. Remove the margin in all browsers. 
*/
body {
    /* 1 */
    line-height: 1.5;
    /* 2 */
    margin: 0;
}

/*
* Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
* Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
    color: inherit;
    text-decoration: inherit;
}

/*
*1. Change the font styles in all browsers.
*2. Remove the margin in Firefox and Safari.
*3. Remove default padding in all browsers.
*/
button {
    /* 1 */
    font-family: inherit;
    /* 1 */
    font-feature-settings: inherit;
    /* 1 */
    font-variation-settings: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    font-weight: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
    padding: 0;
}

/*
* Remove the inheritance of text transform in Edge and Firefox.
*/
button {
    text-transform: none;
}

/*
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Remove default button styles.
*/
button {
    /* 1 */
    -webkit-appearance: button;
    /* 2 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
    border: none;
}

/*
* Set the default cursor for buttons.
*/
button {
    cursor: pointer;
}

/*
* Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

/*
* Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
    outline: auto;
}

/*
* Removes the default spacing and border for appropriate elements.
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
* 1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
* 2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
* This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg {
    /* 1 */
    display: block;
    /* 2 */
    vertical-align: middle;
}

/*
* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img {
    max-width: 100%;
    height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
    display: none;
}